<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    
 <configuration>
 
 	<settings>
 	
 	<!--  myBatis에서 쿼리에 매핑되는 파라미터 null이 들어가면 에러남
 	value에 전달할 값이 null일 경우 처리할 값을 지정하면
 	그 값으로 데이터베이스에 값이 세팅됩니다. -->
 		<setting name="jdbcTypeForNull" value="NULL"/>
 		
 		<!-- 데이타베이스 응답을 얼마나 오래기다리게 할지 판단 -->
 		<setting name="defaultStatementTimeout" value="3000"/>
 		
 		<!-- 언더스코어 표기법을 카멜케이스로 자동 변환하는 설정을 true로 지정 -->
 		<!-- reg_date -> regDate -->
 		<setting name="mapUnderscoreToCamelCase" value="true"/>
 		
 		
 		
 	</settings>
 	
 	<typeAliases>
 		<!-- vo 주소 as 지정 -->
 	
 		<typeAlias type="com.spring.myweb.command.FreeBoardVO" alias="board"/>
 	
 	</typeAliases>
 	
 	<!-- 인터페이스 mapper 구현체 xml 파일의 경로를 표시하느 ㄴ태그.
 	우리는 sqlsessionFactoryBean을 등록할 대 이미 지정했기 때무네 
 	추가로 작성할 필요는 없습니다. 
 	<mappers>
 		<mapper resource="classpath:/mppers/*Mapper.xml"/>
 	</mappers>
 	-->
 
 </configuration>